@media only screen and (max-width: 768px) {

    .head h1 {
        font-size: 75px;
        width: 300px;
    }

    article {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .desc {
        width: 100%;
        font-size: 20px;
    }

    .illu1, .illu2, .illu3 {
        display: none;
        opacity: 0;
    }

    .video {
        width: 100%;
    }

    .bouton {
        margin-left: 8%;
        margin-right: auto;
        width: 320px;
        height: 100px;
        font-size: 25px;
    }

    .page-home .cours-images a {
        margin-left: 0;
    }

    h2 {
        font-size: 70px;
        width: 180px;
    }

    .page-home .creneaux h2 {
        font-size: 65px;
        width: 380px;
    }

    .page-home h2 {
        width: 350px;
    }

    .page-jewerlies1 h2 {
        font-size: 65px;
        width: 420px;
    }
    
    .page-home .cours-images h2 {
        width: 320px;
    }

    .photo {
        width: 100%;
        margin-bottom: 10px;
    }

    .page-gallerie .gallerie_video {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .down {
        display: none;
    }

    .page-home .creneaux_cours {
        grid-template-columns: repeat(1, 1fr);
    }

    p {
        font-size: 20px;
    }

    .page-home .creneaux_cours a {
        font-size: 20px;
    }

    .page-home .top p:nth-child(3) {
        font-size: 35px;
    }

    .page-home .creneaux img {
        width: 100%;
    }

    .imgfoot {
        width: 100%;
    }

    .page-form .formulaire {
        width: 100%;
    }

    .error {
        flex-direction: column;
    }

    .error img:nth-child(2) {
        left: 30%;
    }

    .titre {
        width: 300px;
    }

    .head p {
        font-size: 50px;
        margin-top: -10px;
    }

    .head .titre span  {
        font-size: 20px;
        margin-top: 0;
        width: 10%;
        margin-right: 0;
        margin-left: 70%;
    }

    //menu hamburger

    .nav-menu {
	    position: fixed;
	    left: -106%;
	    gap: 20px;
	    padding: 24px 0;
	    flex-direction: column;
	    width: 100%;
	    text-align: center;
	    background-color: $beige;
	    transition: 0.3s;
	    z-index: 6;
	} 

    .nav-menu a {
        color: black;
    }

	.nav-menu li {
	    margin: 16px 0;
	}

    .nav-menu ul {
        flex-direction: column;
        padding: 8%;
    }
        
    nav {
        display: none;
    }

    nav img {
        display: none;
    }

    .nav-toggle-label {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        width: 40px;
        height: 25px;
        z-index: 10;
        margin: 5%;
    }
    
    .nav-toggle-label span {
        display: block;
        position: absolute;
        border-radius: 10px;
        left: 8px;
        width: 48px;
        height: 8px;
        background-color: white;
        transition: all .2s ease;
      }

    .nav-toggle-label span:nth-of-type(1) {
        top: 8px;
      }
      
      .nav-toggle-label span:nth-of-type(2) {
        top: 24px;
      }
      
      .nav-toggle-label span:nth-of-type(3) {
        top: 42px;
      }
      
      .nav-toggle:checked + .nav-toggle-label span:nth-of-type(1) {
        transform: rotate(45deg) translate(18px, 9px);
      }
      
      .nav-toggle:checked + .nav-toggle-label span:nth-of-type(2) {
        opacity: 0;
      }
    
      .nav-toggle:checked + .nav-toggle-label span:nth-of-type(3) {
        transform: rotate(-45deg) translate(15px, -5px);
      }
    
    

      /* Shows the navigation menu when the checkbox is checked */
    input[type="checkbox"]:checked ~ nav {
        display: block;
        // position: fixed;
        // left: 100%;
        transform-origin: 0% 0%;
  		transform: translate(100%, 0);
  		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    .footer-contact {
        display: flex;
        flex-direction: column;
    }

    .footer-contact hr {
        display: none;
    }

    footer {
        background-image: none;
        background-color: $gris;
        height: auto;
        padding-bottom: 7%;
    }

    .w {
        width: 100%;
    }

    .contacter, .reseaux {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        height: 20px;
        line-height: 50px;
        align-items: center;
        margin-bottom: 10%;
    }

    .tel {
        width: 24px;
        height: 24px;
    }

    .mail {
        width: 32px;
        height: 24px;
        margin-top: 2%;
    }

    .fb {
        width: 24px;
        height: 24px;
        margin-top: 2%;
    }

    .insta {
        width: 24px;
        height: 24px;
        margin-top: 2%;
    }

    .titre {
        margin-left: 8%;
    }
}