h1 {
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 30px;
}

header h2 {
    font-size: 80px;
    margin: 0;
}

h2 {
    font-family: "Wild";
    font-size: 96px;
}

h3 {
    font-family: "Antic";
    font-size: 32px;
}

h4 {
    font-family: "Antic";
    font-size: 18px;
    margin-top: 2%;
    
}