/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 30px;
}

header h2 {
  font-size: 80px;
  margin: 0;
}

h2 {
  font-family: "Wild";
  font-size: 96px;
}

h3 {
  font-family: "Antic";
  font-size: 32px;
}

h4 {
  font-family: "Antic";
  font-size: 18px;
  margin-top: 2%;
}

p {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(2px);
}

.nav-toggle {
  display: none;
}

.nav-menu {
  display: block;
  width: 70%;
  margin-left: 6%;
}

.nav-menu ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 3% 0;
  height: auto;
  font-family: "Montserrat";
  align-items: center;
}

.nav-menu ul li {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: auto;
  font-size: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  height: 28px;
}

.nav-menu a:hover {
  border-bottom: 2px solid white;
}

.current-menu-item {
  border-bottom: 2px solid white;
}

.current_page_item {
  border-bottom: 2px solid white;
}

.titre {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.head h1 {
  text-align: center;
  font-family: "Marcellus";
  font-size: 150px;
  margin-top: 10px;
  color: white;
  margin-bottom: 0;
}

.head p {
  text-align: center;
  font-size: 80px;
  margin: -20px 0 0 0;
  font-family: "Marcellus";
}

.head .titre span {
  display: flex;
  justify-content: end;
  margin-top: -10px;
  margin-right: 15%;
  text-align: right;
  font-size: 25px;
  font-family: "Marcellus";
  color: white;
}

.down {
  animation: flo 2s infinite 0s;
  margin-top: 25%;
  margin-left: 50%;
}

@keyframes flo {
  50% {
    transform: translateY(-30px);
  }
}
.imgfoot {
  display: flex;
  width: 50%;
  margin-top: 70px;
  margin-bottom: 14px;
  margin-left: auto;
  margin-right: auto;
}

.bouton {
  font-family: "Montserrat";
  width: 188px;
  height: 30px;
  background-color: #F4E6D6;
  border: 1px solid transparent;
  margin-top: 3%;
  border-radius: 2px;
}

.bouton:hover {
  cursor: pointer;
  border: 1px solid #CAB0AC;
  transition: ease-in-out 0.5s;
}

.page-home {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.page-home h2 {
  width: 450px;
  background-image: url(../images/introduction.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0;
  margin-top: 96px;
  margin-bottom: 65px;
}
.page-home .cours-images {
  position: relative;
}
.page-home .cours-images h2 {
  width: 450px;
  background-image: url(../images/coursimage.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0;
  margin-top: 96px;
  margin-bottom: 65px;
}
.page-home .cours-images a {
  margin-left: 80%;
}
.page-home .icone-HATHA {
  display: block;
  width: 57px;
  height: 56px;
  margin-right: 5%;
  background-image: url(../images/hathayoga.png);
  background-size: cover;
  background-position: center;
}
.page-home .icone-med {
  display: block;
  width: 63px;
  height: 74px;
  margin-right: 5%;
  background-image: url(../images/icone-meditation.png);
  background-size: cover;
  background-position: center;
}
.page-home .illu1 {
  position: absolute;
  left: 0;
  top: 2030px;
}
.page-home .illu2 {
  position: absolute;
  right: -122px;
  top: 70%;
  z-index: -2;
}
.page-home .creneaux img {
  display: flex;
  width: 40%;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}
.page-home .creneaux h2 {
  width: 550px;
  background-image: url(../images/lieux.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0;
  margin-top: 96px;
  margin-bottom: 65px;
}
.page-home .creneaux_cours {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 85px;
}
.page-home .creneaux_cours .contenu {
  background-color: #F4E6D6;
  padding: 45px;
  border-radius: 5px;
}
.page-home .creneaux_cours .name {
  margin-bottom: 30px;
}
.page-home .creneaux_cours h3 {
  text-align: center;
}
.page-home .creneaux_cours .champ {
  display: flex;
  margin-bottom: 5%;
}
.page-home .creneaux_cours .bloc {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.page-home .creneaux_cours .bloc p {
  margin-bottom: 5%;
}
.page-home .creneaux_cours a {
  font-family: "Montserrat";
  color: black;
  text-decoration: underline;
}
.page-home .creneaux_cours a:hover {
  text-decoration: none;
}
.page-home .creneaux_cours .calendar {
  display: block;
  width: 18px;
  height: 20px;
  margin-right: 5%;
  background-image: url(../images/calendar.svg);
  background-size: cover;
  background-position: center;
}
.page-home .creneaux_cours .schedule {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 5%;
  background-image: url(../images/schedule.svg);
  background-size: cover;
  background-position: center;
}
.page-home .creneaux_cours .location {
  display: block;
  width: 16px;
  height: 20px;
  margin-right: 5%;
  background-image: url(../images/location.svg);
  background-size: cover;
  background-position: center;
}
.page-home .tarifs h2 {
  width: 150px;
  background-image: url(../images/tarifs.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0;
  margin-top: 96px;
  margin-bottom: 65px;
}
.page-home .tarifs .p {
  text-align: center;
  margin-bottom: 37px;
}
.page-home .p a {
  text-decoration: none;
  color: #9C7973;
}
.page-home .p a:hover {
  text-decoration: underline;
}
.page-home .prix {
  display: block;
  background-color: #DFCEF0;
  border-radius: 5px;
  padding: 36px;
}
.page-home .top {
  margin-bottom: 40px;
  text-align: center;
}
.page-home .top p {
  color: #777777;
  margin-top: 2%;
}
.page-home .top p:nth-child(2) {
  font-size: 13px;
}
.page-home .top p:nth-child(3) {
  font-size: 25px;
  font-family: "Antic";
}
.page-home .block p {
  display: flex;
  width: 85%;
  height: 70px;
  flex-direction: column;
  justify-content: space-between;
}
.page-home .block div {
  display: flex;
}
.page-home .money {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 5%;
  background-image: url(../images/money.svg);
  background-size: cover;
  background-position: center;
}
.page-home .presentation {
  display: flex;
  justify-content: space-between;
  margin-top: 125px;
  gap: 20px;
}
.page-home .paragraphe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-home .image {
  position: absolute;
  top: 0;
  left: 0;
}

.else {
  padding-top: 15%;
  padding-left: 12%;
  color: #9C7973;
}

.page-about article {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 125px;
  position: relative;
}

.illu3 {
  position: absolute;
  left: 0;
  top: 1430px;
  z-index: -5;
}

.desc {
  width: 48%;
}

.photo {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.photo img {
  width: 100%;
  height: auto;
}

.photo p {
  color: #9C7973;
  text-align: right;
}

.titre1 {
  width: 250px;
  background-image: url(../images/passionyoga.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0;
}

.titre2 {
  width: 350px;
  background-image: url(../images/deonneparker.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0;
  padding-left: 10%;
}

.paragraphe {
  margin-top: 30px;
}

.paragraphe p {
  margin-top: 20px;
  letter-spacing: 1, 5%;
  line-height: 200%;
}

.paragraphe a {
  text-decoration: none;
  color: #9C7973;
}

.paragraphe a:hover {
  text-decoration: underline;
  color: #9C7973;
}

.iconeDP {
  display: block;
  width: 92px;
  height: 49px;
  background-image: url(../images/citationDP.png);
  background-size: cover;
  background-position: center;
}

.iconePY {
  display: block;
  position: absolute;
  left: 47%;
  width: 23px;
  height: 25px;
  background-image: url(../images/citationMW.png);
  background-size: cover;
  background-position: center;
}

.page-gallerie {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.page-gallerie h2 {
  width: 250px;
  background-image: url(../images/gallerie.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0;
  margin-top: 96px;
  margin-bottom: 65px;
}
.page-gallerie h3 {
  margin-right: 12px;
}
.page-gallerie .icone-photo {
  display: block;
  width: 49px;
  height: 69px;
  background-image: url(../images/icone-photo.png);
  background-size: cover;
  background-position: center;
  margin-top: 10px;
}
.page-gallerie .icone-video {
  display: block;
  width: 48px;
  height: 75px;
  background-image: url(../images/icone-video.png);
  background-size: cover;
  background-position: center;
  margin-top: 10px;
}
.page-gallerie .t {
  display: flex;
  align-items: center;
  margin-bottom: 8%;
}
.page-gallerie article {
  height: auto;
}
.page-gallerie .gallerie {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10%;
}
.page-gallerie .acf-gallery {
  max-width: 100%;
  margin: 40px auto 0 auto;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 14px;
}
.page-gallerie .acf-gallery li {
  list-style-type: none;
  height: 250px;
  flex-grow: 1;
}
.page-gallerie .acf-gallery li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page-gallerie .gallerie_video {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 85px;
}

.page-jewerlies1 {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.page-jewerlies1 h2 {
  width: 680px;
  background-image: url(../images/outils.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 96px;
  margin-bottom: 65px;
}
.page-jewerlies1 h3 {
  margin-right: 12px;
}
.page-jewerlies1 .med {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10%;
}
.page-jewerlies1 .icone-cartes {
  display: block;
  width: 49px;
  height: 69px;
  background-image: url(../images/icone-cartes.png);
  background-size: cover;
  background-position: center;
}
.page-jewerlies1 .icone-meditation {
  display: block;
  width: 49px;
  height: 69px;
  background-image: url(../images/icone-meditation.png);
  background-size: cover;
  background-position: center;
  margin-top: 10px;
}
.page-jewerlies1 .paragraphe p:nth-child(2) {
  font-family: "Montserrat-Gras";
}

.t {
  display: flex;
  align-items: center;
  margin-bottom: 8%;
}

.video {
  width: 60%;
  display: flex;
  align-items: center;
}

.page-jewerlies2 {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.page-jewerlies2 h2 {
  width: 250px;
  background-image: url(../images/bijoux.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 96px;
  margin-bottom: 65px;
}
.page-jewerlies2 p {
  margin-bottom: 5%;
}

.container {
  width: 100%;
  /* Slider */
}
.container .slick-slide {
  margin: 0px 20px;
}
.container .slick-slide img {
  width: 100%;
}
.container .slick-slider {
  position: relative;
  display: flex;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.container .slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.container .slick-list:focus {
  outline: none;
}
.container .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.container .slick-slider .slick-track,
.container .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.container .slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.container .slick-track:before,
.container .slick-track:after {
  display: table;
  content: "";
}
.container .slick-track:after {
  clear: both;
}
.container .slick-loading .slick-track {
  visibility: hidden;
}
.container .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.container [dir=rtl] .slick-slide {
  float: right;
}
.container .slick-slide img {
  display: block;
}
.container .slick-slide.slick-loading img {
  display: none;
}
.container .slick-slide.dragging img {
  pointer-events: none;
}
.container .slick-initialized .slick-slide {
  display: block;
}
.container .slick-loading .slick-slide {
  visibility: hidden;
}
.container .slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.container .slick-arrow.slick-hidden {
  display: none;
}
.container .slick-arrow {
  background-color: transparent;
  border: 0px;
  color: red;
  font-size: 30px;
}
.container .slick-arrow:hover {
  cursor: pointer;
}

.page-contact h2 {
  width: 300px;
  background-image: url(../images/mecontacter.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 8%;
  margin-top: 96px;
  margin-bottom: 65px;
}
.page-contact article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.page-contact h3 {
  margin-bottom: 8%;
  margin-right: 12px;
}
.page-contact a {
  display: flex;
  margin-bottom: 8%;
  font-family: "Montserrat";
  color: black;
  text-decoration: none;
}
.page-contact i {
  margin-right: 18px;
}
.page-contact .title {
  margin-bottom: 25%;
}
.page-contact .ti {
  display: flex;
}
.page-contact .icone-contact {
  display: block;
  width: 53px;
  height: 21px;
  background-image: url(../images/icone-contact.png);
  background-size: cover;
  background-position: center;
  margin-top: 10px;
}
.page-contact .etsy {
  display: block;
  width: 18px;
  height: 17px;
  background-image: url(../images/etsy.svg);
  background-size: cover;
  background-position: center;
}

.page-mention {
  margin-bottom: 7%;
  /* Add styles for the arrow image */
}
.page-mention .back {
  width: 23%;
  padding-left: 105px;
  padding-top: 86px;
}
.page-mention .image-container::after {
  content: "Mentions legales";
  position: absolute;
  padding-left: 105px;
  padding-top: 60px;
  left: 18px;
  color: black;
  font-size: 96px;
  font-family: "Wild", sans-serif;
}
.page-mention .intro {
  padding-left: 113px;
  padding-right: 113px;
  margin-top: 2%;
  margin-bottom: 2%;
  line-height: 23px;
  font-family: "Montserrat";
  font-size: 18px;
}
.page-mention h3 {
  font-family: "Antic", serif;
  font-size: 32px;
}
.page-mention .block1 {
  padding-left: 113px;
  padding-top: 10px;
}
.page-mention .block2 {
  padding-left: 113px;
}
.page-mention .p {
  padding-right: 105px;
  font-family: "Montserrat";
}
.page-mention .hidden {
  display: none;
  font-family: "Montserrat";
  padding-right: 113px;
  margin-top: 20px;
  margin-bottom: 25px;
  line-height: 23px;
}
.page-mention .arrow {
  cursor: pointer;
  width: 30px;
  height: 18px;
  margin-left: 23%;
  transition: transform 0.2s;
  transform-origin: center center;
}
.page-mention .arrow2 {
  cursor: pointer;
  width: 30px;
  height: 18px;
  margin-left: 66%;
  transition: transform 0.2s;
  transform-origin: center center;
}
.page-mention .arrow3 {
  cursor: pointer;
  width: 30px;
  height: 18px;
  margin-left: 67%;
  transition: transform 0.2s;
  transform-origin: center center;
}
.page-mention .arrow4 {
  cursor: pointer;
  width: 30px;
  height: 18px;
  margin-left: 55.5%;
  transition: transform 0.2s;
  transform-origin: center center;
}
.page-mention .arrow5 {
  cursor: pointer;
  width: 30px;
  height: 18px;
  margin-left: 65.5%;
  transition: transform 0.2s;
  transform-origin: center center;
}
.page-mention .line {
  width: 75%;
  border-bottom: 1px solid #9C7973;
  margin: 10px auto;
}
@media only screen and (max-width: 600px) {
  .page-mention .block1, .page-mention .block2 {
    width: 90%;
    margin: 0 auto;
  }
  .page-mention .intro {
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Montserrat";
    font-size: 18px;
  }
  .page-mention h3 {
    font-size: 20px;
  }
  .page-mention .back {
    padding-top: 1.5%;
    width: 45%;
    padding-left: 30px;
    padding-top: 45px;
  }
  .page-mention .image-container::after {
    content: "Mentions legales";
    position: absolute;
    padding-left: 30px;
    padding-top: 30px;
    left: 18px;
    color: black;
    font-size: 60px;
    font-family: "Wild", sans-serif;
  }
  .page-mention .h3 {
    font-family: "Antic", serif;
    font-size: 24px;
    line-height: 30px;
  }
  .page-mention .block1 {
    padding-left: 30px;
    padding-top: 10px;
  }
  .page-mention .block2 {
    padding-left: 30px;
  }
  .page-mention .p {
    padding-right: 105px;
    font-family: "Montserrat";
    font-size: 18px;
  }
  .page-mention .arrow {
    cursor: pointer;
    width: 15px;
    height: 9px;
    margin-left: 43%;
    transition: transform 0.2s;
    transform-origin: center center;
  }
  .page-mention .arrow2 {
    cursor: pointer;
    width: 15px;
    height: 9px;
    margin-left: 53%;
    transition: transform 0.2s;
    transform-origin: center center;
  }
  .page-mention .arrow3 {
    cursor: pointer;
    width: 15px;
    height: 9px;
    margin-left: 56%;
    transition: transform 0.2s;
    transform-origin: center center;
  }
  .page-mention .arrow4 {
    cursor: pointer;
    width: 15px;
    height: 9px;
    margin-left: 27.5%;
    transition: transform 0.2s;
    transform-origin: center center;
  }
  .page-mention .arrow5 {
    cursor: pointer;
    width: 15px;
    height: 9px;
    margin-left: 51.5%;
    transition: transform 0.2s;
    transform-origin: center center;
  }
  .page-mention .hidden {
    display: none;
    font-family: "Montserrat";
    padding-right: 30px;
  }
}

.pop {
  background-color: #CAB0AC;
}

.page-form {
  width: 85%;
  margin: 5% auto;
}
.page-form .form {
  display: flex;
  justify-content: center;
}
.page-form .formulaire {
  background-color: rgba(255, 255, 255, 0.7);
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
}
.page-form .champs {
  margin-left: auto;
  margin-right: auto;
}
.page-form h3 {
  text-align: center;
}
.page-form p {
  text-align: center;
  margin-top: 4%;
  color: #777777;
  font-size: 14px;
  font-family: "Montserrat";
}
.page-form label {
  font-family: "Montserrat";
  font-size: 12px;
}
.page-form div.wpforms-container-full .wpforms-form input[type=email],
.page-form div.wpforms-container-full .wpforms-form input[type=number],
.page-form div.wpforms-container-full .wpforms-field.wpforms-field-select-style-classic select {
  border: 2px solid #CAB0AC;
  font-family: "Montserrat";
  font-size: 14px;
}
.page-form .wpforms-field-description {
  font-family: "Montserrat";
  font-size: 8px;
}
.page-form div.wpforms-container-full .wpforms-form input[type=submit],
.page-form div.wpforms-container-full .wpforms-form button[type=submit],
.page-form div.wpforms-container-full .wpforms-form .wpforms-page-button {
  background-color: #CAB0AC;
  font-family: "Antic";
  border-radius: 2px;
}
.page-form div.wpforms-container-full .wpforms-form .wpforms-submit-container {
  display: flex;
  justify-content: center;
}

footer {
  background-image: url(../images/footer.jpg);
  font-family: "Montserrat";
  background-size: cover;
  background-position: center;
  margin-top: 10px;
  font-size: 16px;
  width: 100%;
  height: 318px;
}

div.footer-contact {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.w {
  width: 45%;
}

div.footer-contact h5, div.footer-contact hr {
  margin-top: 73px;
}

div.footer-contact h5 {
  font-family: "Montserrat-Gras";
  font-size: 24px;
  margin-bottom: 42px;
}

div.footer-contact hr {
  background-color: white;
  border: 1px solid white;
  width: 0.5px;
  height: 100px;
  margin: 73px 0 0 0;
}

.footer-contact span {
  width: 100%;
}

.reseaux, .contacter, .footer-contact a {
  display: flex;
  text-decoration: none;
  color: black;
}

.contacter, .reseaux {
  width: 100%;
}

footer i {
  margin-right: 18px;
}

.tel {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../images/call.svg);
  background-size: cover;
  background-position: center;
}

.mail {
  display: block;
  width: 21px;
  background-image: url(../images/mail.svg);
  background-size: cover;
  background-position: center;
}

.fb {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../images/facebook.svg);
  background-size: cover;
  background-position: center;
}

.insta {
  display: block;
  width: 18px;
  height: 17px;
  background-image: url(../images/instagram.svg);
  background-size: cover;
  background-position: center;
}

.copyright {
  width: 85%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 99px;
  font-size: 14px;
  color: #424242;
}
.copyright a {
  text-decoration: underline;
  color: #424242;
}
.copyright a:hover {
  text-decoration: none;
}

.copyright span {
  margin-left: 10px;
}

@font-face {
  font-family: "Antic";
  src: url(../fonts/AnticDidone-Regular.ttf);
}
@font-face {
  font-family: "Wild";
  src: url(../fonts/Wild-Child.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-Gras";
  src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Marcellus";
  src: url(../fonts/MarcellusSC-Regular.ttf);
}
.error {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.error article:nth-child(1) {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 480px;
  justify-content: center;
  margin-top: 7%;
  margin-bottom: 120px;
  margin-left: 5%;
}

.error img {
  width: 80%;
}

.error h1 {
  font-size: 100px;
  color: #F4E6D6;
}

.error h1, .error h2 {
  font-family: "Antic";
}

.error p {
  font-family: "Montserrat";
  line-height: 23px;
  font-size: 20px;
}

.error img:nth-child(2) {
  position: absolute;
  z-index: -10;
  width: 40%;
  left: 48%;
}

@media only screen and (max-width: 768px) {
  .head h1 {
    font-size: 75px;
    width: 300px;
  }
  article {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .desc {
    width: 100%;
    font-size: 20px;
  }
  .illu1, .illu2, .illu3 {
    display: none;
    opacity: 0;
  }
  .video {
    width: 100%;
  }
  .bouton {
    margin-left: 8%;
    margin-right: auto;
    width: 320px;
    height: 100px;
    font-size: 25px;
  }
  .page-home .cours-images a {
    margin-left: 0;
  }
  h2 {
    font-size: 70px;
    width: 180px;
  }
  .page-home .creneaux h2 {
    font-size: 65px;
    width: 380px;
  }
  .page-home h2 {
    width: 350px;
  }
  .page-jewerlies1 h2 {
    font-size: 65px;
    width: 420px;
  }
  .page-home .cours-images h2 {
    width: 320px;
  }
  .photo {
    width: 100%;
    margin-bottom: 10px;
  }
  .page-gallerie .gallerie_video {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .down {
    display: none;
  }
  .page-home .creneaux_cours {
    grid-template-columns: repeat(1, 1fr);
  }
  p {
    font-size: 20px;
  }
  .page-home .creneaux_cours a {
    font-size: 20px;
  }
  .page-home .top p:nth-child(3) {
    font-size: 35px;
  }
  .page-home .creneaux img {
    width: 100%;
  }
  .imgfoot {
    width: 100%;
  }
  .page-form .formulaire {
    width: 100%;
  }
  .error {
    flex-direction: column;
  }
  .error img:nth-child(2) {
    left: 30%;
  }
  .titre {
    width: 300px;
  }
  .head p {
    font-size: 50px;
    margin-top: -10px;
  }
  .head .titre span {
    font-size: 20px;
    margin-top: 0;
    width: 10%;
    margin-right: 0;
    margin-left: 70%;
  }
  .nav-menu {
    position: fixed;
    left: -106%;
    gap: 20px;
    padding: 24px 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #F4E6D6;
    transition: 0.3s;
    z-index: 6;
  }
  .nav-menu a {
    color: black;
  }
  .nav-menu li {
    margin: 16px 0;
  }
  .nav-menu ul {
    flex-direction: column;
    padding: 8%;
  }
  nav {
    display: none;
  }
  nav img {
    display: none;
  }
  .nav-toggle-label {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 25px;
    z-index: 10;
    margin: 5%;
  }
  .nav-toggle-label span {
    display: block;
    position: absolute;
    border-radius: 10px;
    left: 8px;
    width: 48px;
    height: 8px;
    background-color: white;
    transition: all 0.2s ease;
  }
  .nav-toggle-label span:nth-of-type(1) {
    top: 8px;
  }
  .nav-toggle-label span:nth-of-type(2) {
    top: 24px;
  }
  .nav-toggle-label span:nth-of-type(3) {
    top: 42px;
  }
  .nav-toggle:checked + .nav-toggle-label span:nth-of-type(1) {
    transform: rotate(45deg) translate(18px, 9px);
  }
  .nav-toggle:checked + .nav-toggle-label span:nth-of-type(2) {
    opacity: 0;
  }
  .nav-toggle:checked + .nav-toggle-label span:nth-of-type(3) {
    transform: rotate(-45deg) translate(15px, -5px);
  }
  /* Shows the navigation menu when the checkbox is checked */
  input[type=checkbox]:checked ~ nav {
    display: block;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .footer-contact {
    display: flex;
    flex-direction: column;
  }
  .footer-contact hr {
    display: none;
  }
  footer {
    background-image: none;
    background-color: #EFEFEF;
    height: auto;
    padding-bottom: 7%;
  }
  .w {
    width: 100%;
  }
  .contacter, .reseaux {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: 20px;
    line-height: 50px;
    align-items: center;
    margin-bottom: 10%;
  }
  .tel {
    width: 24px;
    height: 24px;
  }
  .mail {
    width: 32px;
    height: 24px;
    margin-top: 2%;
  }
  .fb {
    width: 24px;
    height: 24px;
    margin-top: 2%;
  }
  .insta {
    width: 24px;
    height: 24px;
    margin-top: 2%;
  }
  .titre {
    margin-left: 8%;
  }
}

/*# sourceMappingURL=app.css.map */
