.page-home { //préfixer pour la sélection
    width: 85%;
    margin-left: auto;
    margin-right: auto;

     h2 {
        width: 450px;
        background-image: url(../images/introduction.png);
        background-size: contain; 
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 0;
        margin-top: 96px;
        margin-bottom: 65px;
    }

    .cours-images h2 {
        width: 400px;
        background-image: url(../images/coursimage.png);
        background-size: contain; 
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 0;
        margin-top: 96px;
        margin-bottom: 65px;
    }

    .creneaux h2 {
        width: 550px;
        background-image: url(../images/lieux.png);
        background-size: contain; 
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 0;
        margin-top: 96px;
        margin-bottom: 65px;
    }

    .tarifs h2 {
        width: 150px;
        background-image: url(../images/tarifs.png);
        background-size: contain; 
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 0;
        margin-top: 96px;
        margin-bottom: 65px;
    }

   .presentation {
        display: flex;
        justify-content: space-between;
        margin-top: 125px;
    }

    .paragraphe {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .contenu {
        width: 315px;
        height: 351px;
        background-color: $beige;
        padding: 45px;
    }

    .contenu div{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .bloc{
        display: flex;
        flex-direction: column;
    }

    .calendar {
        display: block;
        width: 18px;
        height: 20px;
        background-image: url(../images/calendar.svg);
        background-size: cover; 
        background-position: center;
        margin-top: 10px;
    }

    .schedule {
        display: block;
        width: 20px;
        height: 20px;
        background-image: url(../images/schedule.svg);
        background-size: cover; 
        background-position: center;
        margin-top: 10px;
    }

    .location {
        display: block;
        width: 16px;
        height: 20px;
        background-image: url(../images/location.svg);
        background-size: cover; 
        background-position: center;
        margin-top: 10px;
    }

    .grid {
        display: flex;
        gap: 40px;
    }

    .prix {
        display: block;
        background-color: $mauve;
        padding: 36px;
    }

    .image {
        position: absolute;
        top: 0;
        left: 0;
    }

}
