.page-about {
    article{
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 125px;
        position: relative;
    }
}

.illu3 {
    position: absolute;
    left: 0;
    top: 1430px;
    z-index: -5;
}

.desc {
    width: 48%;
}

.photo {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.photo img {
    width: 100%;
    height: auto;
    // border: 1px solid transparent;
    // border-radius: 20px;
}

.photo p {
    color:$taupefonce;
    text-align: right;
}

.titre1 {
    width: 250px;
    background-image: url(../images/passionyoga.png);
    background-size: contain; 
    background-repeat: no-repeat;
	background-position: center;
    margin-left: 0;
}

.titre2 {
    width: 350px;
    background-image: url(../images/deonneparker.png);
    background-size: contain; 
    background-repeat: no-repeat;
	background-position: center;
    margin-left: 0;
    padding-left: 10%;
    
}

.paragraphe {
    margin-top: 30px;
}

.paragraphe p {
    margin-top: 20px;
    letter-spacing: 1,5%;
    line-height: 200%;
}

.paragraphe a {
    text-decoration: none;
    color:$taupefonce;
}

.paragraphe a:hover {
    text-decoration: underline;
    color:$taupefonce;
}

.iconeDP {
    display: block;
    width: 92px;
    height: 49px;
    background-image: url(../images/citationDP.png);
    background-size: cover; 
    background-position: center;
}

.iconePY{
    display: block;
    position: absolute;
    left: 47%;
    width: 23px;
    height: 25px;
    background-image: url(../images/citationMW.png);
    background-size: cover; 
    background-position: center;

}

